* {
    background-color: hwb(263 92% 5%);
    padding: 0;
}

.fightarea {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#char,
#monster {
    flex: 1;
    background-color: #9e9e9e;
    padding: 8px;
    border-radius: 15px;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.name {
    margin: 10px;
    font-size: 24px;
    color: #333;
    background-color: #9e9e9e;
}

.attackButton {
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 3px 4px 4px #333;
}

.attackButton:hover {
    box-shadow: none;
    background-color: #e7e7e7;
}

.attackdiv {
    background-color: #9e9e9e;
    display: flex;
    align-items: center;
}

.log {
    border: 1px double #ccc;
    height: 200px;
    width: 600px;
    flex: 1;
    overflow-y: scroll;
}

.area-log {
    padding: 20px;
}

.arena {
    width: 1600px;
    height: 800px;
    padding: 20px;
    margin: 10px;
}

/* Icons */
.shield {
    background-color: #9e9e9e;
    width: 40px;
    height: 40px;
}


/* Images */
.person-image {
    width: 190px;
    height: 190px;
    display: contents;
    justify-content: space-between;
    padding: 50px;
}